<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('templates/header.ejs') %>

    <title>404</title>
</head>

<body>
    <%- include('templates/navbar.ejs') %>

        <div class="container-middle">

            <label class="error-404-text">404 Not Found</label>
            <h2>Oh no!</h2>
        </div>
</body>

</html>